<h1>Blackjack</h1>
<% if $result %>
  <h1><%= $result %></h1>
<% end %>

<div class="player-action-container">
  <% if $my_cards.count > 0 && !$player_end %>
    <form action="/hit">
      <button>Hit</button>
    </form>

    <form action="/stay">
      <button>Stay</button>
    </form>
  <% end %>
</div>

<div class="player-box">
  <div style="display:flex">
    <% $my_cards.each do |card| %>
      <img class="card" src="<%= card.image %>">
    <% end %>
  </div>

  <h2>My Score: <%= $my_score %></h2>
</div>

<div class="player-box">
  <div style="display:flex">
    <% $comp_cards.each do |card| %>
      <img class="card" src="<%= card.image %>">
    <% end %>
  </div>
  <h2>Dealer Score: <%= $comp_score %></h2>
</div>


<form action="/new">
  <button>New Game</button>
</form>
