<h1 class="title">Blackjack</h1>

<% if $result %>
  <div class="result-box">
      <h1><%= $result %></h1>
  </div>
<% end %>



<div class="player-box">

    <h2>My Score: <%= $my_score %></h2>
  <div style="display:flex">
    <% $my_cards.each do |card| %>
      <img class="card" src="<%= card.image %>">
    <% end %>
  </div>
  <div class="player-action-container">
    <% if $my_cards.count > 0 && !$player_end %>
      <form action="/hit">
        <button>Hit</button>
      </form>

      <form action="/stay">
        <button>Stay</button>
      </form>
    <% end %>
  </div>

</div>

<div class="player-box">
  <div style="display:flex">
    <% $comp_cards.each do |card| %>
      <img class="card" src="<%= card.image %>">
    <% end %>
  </div>
  <h2>Dealer Score: <%= $comp_score %></h2>
</div>


<form action="/new">
  <button class="new-game-button">New Game</button>
</form>
